branches:
  only:
  - master
  - develop
  - /^greenkeeper-.*$/
language: node_js
  - stable
  - 6
  - 5
  - 4
sudo: false
before_install:
  - npm i -g npm@latest
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/d0418713e51ac049564a
    on_success: always
    on_failure: change
    on_start: never
addons:
    code_climate:
        repo_token: f017a295c85532d945c74fe17b7f45c516ff72ef478548a99b165927aaa321d7
after_script:
  - "[ $TRAVIS_NODE_VERSION = stable ] && nyc report --reporter=text-lcov | codeclimate-test-reporter"

